body{
  text-align: center;
  font-size: large;
}
.header{
  background-image: url(images/backgrounds/h_img.jpg);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 20px;
  color: aliceblue;
  height: 600px;
}

.services{
  background-image: url(images/backgrounds/s_image.jpg);
  background-size: cover;
  padding: 50px;
  color: aliceblue;
}
.container{
  font-size: medium;
}


.contact-us{
background-image: url(images/backgrounds/c_image.jpg);
margin-top: 20px;
width: 100%;
color: aliceblue;
height: 500px;
padding: 60px;
}
.social{
  margin-top: 20px;
}