body{
  text-align: center;
  font-size: large;
}
.header{
  background-image: url(images/backgrounds/h_img.jpg);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 20px;
  color: aliceblue;
  height: 600px;
}

.services{
  background-image: url(images/backgrounds/s_image.jpg);
  background-size: cover;
  padding: 50px;
  color: aliceblue;
}
.container{
  font-size: medium;
}


.contact-us{
background-image: url(images/backgrounds/c_image.jpg);
margin-top: 20px;
width: 100%;
color: aliceblue;
height: 500px;
padding: 60px;
}
.social{
  margin-top: 20px;
}


#tuesday:hover{
  opacity: 0.5;
  text-align: center;
}

#security:hover{
  opacity: 0.5;
  text-align: center;
}

#prism:hover{
  opacity: 0.5;
  text-align: center;
}

#hollywood:hover{
  opacity: 0.5;
  text-align: center;
}

#motivation:hover{
  opacity: 0.5;
  text-align: center;
}

#music:hover{
  opacity: 0.5;
  text-align: center;
}

#art:hover{
  opacity: 0.5;
  text-align: center;
}

#restuarant:hover{
  opacity: 0.5;
  text-align: center;
}
#hide{
  display: none;
}

#tuesday{
 background-image: url(images/portfolio/work.jpg);
 margin: auto;
}
#security{
  background-image: url(images/portfolio/work3.jpg);
  margin: auto;
}
#prism{
  background-image: url(images/portfolio/work2.jpg);
  margin: auto;
}
#hollywood{
  background-image: url(images/portfolio/work1.jpg);
  margin: auto;
}
#motivation{
  background-image: url(images/portfolio/work5.jpg);
  margin: auto;
}
#music{
  background-image: url(images/portfolio/work6.jpg);
  margin: auto;
}
#art{
  background-image: url(images/portfolio/work7.jpg);
  margin: auto;
}
#restuarant{
  background-image: url(images/portfolio/work8.jpg);
  margin: auto;
}
 .port{
   height: 250px;
 }
 em{
   color: blue;
 }

